:root {
  --bg-clr: #f1f2f3;
  --bg-clr-secondary: #e8e9ee;

  --line-clr: #838586;
  --hover-clr: #d2d7e0;

  --text-clr: #2a2b2c;
  --text-clr-secondary: #3e3f41;

  --accent-clr: #5095f0;
  --accent-clr-secondary: #4b98fc;
  --accent-clr-shadow: #295186;

  --success-clr: #4ec572;
  --warning-clr: #cf4f4f;

  --chart-primary: var(--accent-clr);
  --chart-secondary: var(--success-clr);
  --chart-tertiary: var(--warning-clr);
}

:root[data-theme="dark"] {
  --bg-clr: #22252b;
  --bg-clr-secondary: #1b1e20;

  --text-clr: #caced1;
  --text-clr-secondary: #afb2b4;

  --line-clr: #141618;
  --hover-clr: #2e333d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  font-weight: normal;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--bg-clr-secondary);
  color: var(--text-clr);

  display: grid;
}

h1 {
  font-size: 2rem;
  color: var(--text-clr);
  text-align: center;
  margin: 0 auto;
  padding-block: 1rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--text-clr);
  text-align: center;
  margin: 0 auto;
  padding-block: 0.5rem;
}

h3 {
  font-size: 1.1rem;
  color: var(--text-clr);
  text-align: center;
  margin: 0 auto;
  padding-block: 1rem;
}

small {
  font-size: 0.9rem;
}

b {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;

  padding: min(30px, 7%);
  background-color: var(--bg-clr);
}

main p {
  color: var(--text-clr-secondary);
  margin-top: 5px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

ul {
  list-style: none;
}

select,
::picker(select) {
  appearance: base-select;
}

.error {
  color: var(--warning-clr);
}

.column-form small.error {
  display: flex;
  margin: 0;
  justify-content: center;
}

.center {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;

  position: relative;
  height: fit-content;
  width: 100%;

  background-color: var(--bg-clr-secondary);
  box-shadow: 0 2px 1em var(--bg-clr-secondary);

  border: 1px solid var(--line-clr);
  border-radius: 1em;

  margin-bottom: 1.2rem;
  padding: 2em;

  transition: 300ms ease-in-out;

  p {
    max-width: 80ch;
  }

  > p:first-child {
    margin-top: 1em;
  }

  > h1,
  > h2,
  > h3 {
    padding-top: 0;
  }
}

.container-row {
  display: flex;
  gap: 1rem;
  width: 100%;

  transition: 300ms ease-in-out;
}

.container-row.center {
  justify-content: center;
}

.container.fit {
  width: fit-content;
}

.container.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .btn-close {
  position: absolute;
  height: 2rem;
  aspect-ratio: 1/1;

  display: grid;
  place-items: center;

  top: 1rem;
  right: 1rem;

  border: none;
  border-radius: 1rem;
  background-color: var(--bg-clr-secondary);

  &:hover {
    background-color: var(--hover-clr);
    cursor: pointer;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 0.6rem 2rem;
  cursor: pointer;

  border: none;
  border-radius: 1rem;

  font-size: 1em;

  color: var(--text-clr);
  background-color: var(--bg-clr);
  box-shadow: 0 0 7px var(--line-clr);

  &:hover {
    background-color: var(--hover-clr);
    box-shadow: 0 0 10px var(--line-clr);
  }

  &:has(> svg) {
    gap: 0.5rem;

    & > svg {
      transform: translateY(-1px);
    }
  }

  &:focus {
    outline: var(--line-clr) solid 2px;
  }
}

.btn-primary {
  color: var(--bg-clr);
  background-color: var(--accent-clr-secondary);

  &:hover {
    background-color: var(--accent-clr);
  }
}

table {
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
}

th,
td {
  padding: 0.5rem;
}

td {
  text-align: center;
}

th:first-child {
  border-bottom: 1px solid;
  border-image: linear-gradient(270deg, var(--text-clr-secondary) 60%, var(--bg-clr-secondary)) 1;
}

th:not(:first-child):not(:last-child) {
  border-bottom: 1px solid var(--text-clr-secondary);
}

th:last-child {
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg, var(--text-clr-secondary) 60%, var(--bg-clr-secondary)) 1;

  border-left: 0px;
}

tbody > tr:nth-child(even) > td:first-child {
  background-image: linear-gradient(270deg, var(--bg-clr) 60%, var(--bg-clr-secondary));
}

tbody > tr:nth-child(even) > td:not(:first-child):not(:last-child) {
  background-color: var(--bg-clr);
}

tbody > tr:nth-child(even) > td:last-child {
  background-image: linear-gradient(90deg, var(--bg-clr) 60%, var(--bg-clr-secondary));
}

.form-group {
  margin-block: 1rem;
  max-width: fit-content;
}

.form-heading {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.column-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-form > .form-control {
  margin-top: 2rem;
}

.column-form > .error {
  margin-top: -1.5rem;
  margin-bottom: -2rem;
}

.form-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.form-row > *:not(:first-child) {
  margin-left: 1rem;
}

.form-control {
  position: relative;

  border-radius: 1rem;

  > .error {
    max-width: 10rem;
    text-align: center;
    justify-self: center;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  box-shadow: 0 0 4px 2px var(--hover-clr);
}

input {
  position: relative;

  color: var(--text-clr);
  background-color: var(--bg-clr);

  border: 1px solid var(--line-clr);
  border-radius: 1rem;

  padding: 0.5rem 1rem;

  &:focus {
    outline: none;
    border: 1px solid var(--accent-clr);
    box-shadow: 0 0 3px var(--accent-clr);
  }
}

input.invalid {
  box-shadow: 0 0 3px var(--warning-clr) !important;
  border-color: var(--warning-clr) !important;
}

input.valid {
  box-shadow: 0 0 3px var(--success-clr) !important;
  border-color: var(--success-clr) !important;
}

label:has(+ input[type="text"]),
label:has(+ input[type="email"]),
label:has(+ input[type="tel"]) {
  color: var(--text-clr);

  padding: 0 0.4rem;

  height: 1.3rem;

  position: absolute;
  top: -2.4rem;
  left: 0.5rem;
  z-index: 99;
}

.custom-select {
  display: inline-flex;
  position: relative;
  width: fit-content;
}

.custom-select label {
  margin-right: 1rem;
  align-self: center;
}

.custom-select select {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 0.7rem 3rem 0.7rem 1rem;
  cursor: pointer;

  color: var(--text-clr);
  background-color: var(--bg-clr);

  border: 1px solid var(--line-clr);
  border-radius: 1rem;

  font-size: 1em;

  box-shadow: 0 0 4px 2px var(--hover-clr);

  &:focus {
    outline: none;
    border: 1px solid var(--accent-clr);
    box-shadow: 0 0 3px var(--accent-clr);
  }
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--text-clr);
  top: 35%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--text-clr);
  top: 55%;
}

option:disabled {
  color: var(--line-clr);
  background-color: var(--bg-clr-secondary);
}

.switch-wrapper {
  display: inline-flex;
  width: fit-content;
}

.switch-wrapper > .label {
  margin-right: 0.5rem;
  text-wrap: nowrap;
}

.switch-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  width: 2.2rem;
  height: 1.4rem;
  cursor: pointer;

  position: relative;

  background-color: var(--bg-clr);
  border: 2px solid var(--line-clr);

  transition: 0.4s;

  &:focus {
    box-shadow: 0 0 5px var(--accent-clr);
    outline: none;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.6rem;
  width: 0.6rem;
  left: 0.3rem;
  bottom: 0.3rem;

  background-color: var(--line-clr);
  transition: 0.4s;
}

.switch-wrapper input:checked + .slider {
  border-color: var(--accent-clr-shadow);
  background-color: var(--accent-clr-secondary);
}

.switch-wrapper input:checked + .slider:before {
  background-color: var(--bg-clr);
  transform: translateX(0.8rem);
}

.switch-wrapper input:focus + .slider:before {
  box-shadow: 0 0 1px var(--accent-clr);
}

.slider.round {
  border-radius: 1.6rem;
}

.slider.round:before {
  border-radius: 50%;
}
